* {
    padding: 0;
    margin: 2px;
    }

    @font-face {
    font-family:"Space" ;
    src: url("../font/Spaceport1.ttf");
    }
    @font-face {
    font-family: "Varela" ;
    src: url(../font/VarelaRound-Regular.ttf);
    }
    /*ESTILOS GENERALES Y VERSION MOBILE */

    body {
        background-color: #20128f;
        color:white;
        font-family: "Varela", sans-serif;
    }
    .bg-propio {
        background: linear-gradient(#F2771A, rgb(230, 171, 46))!important;
        width: 100%;
    }
    .header {
        
        font-family: Space, sans-serif;
        display: flex;
        justify-content: space-between;
        border-radius: 1%;
    }
     
     
     .classli:hover {
        color:  #20128f !important;
     }
     #logo {
        width: 200px;
        height: 150px;
    }
    .header__nav {
        display: flex;
        align-content: flex-end;
        margin-right: 20px;
        font-size: 10px;
    }
    .header__list {
        display:flex;
        flex-direction: row;
        justify-content: end;
        gap: 10px;
        text-decoration: none;
        align-items: flex-end;
        margin-right: 10px;
        font-size: 20px;
        
    }
    header nav ul li{
        list-style-type:none;
    }
    header nav ul li a {
        text-decoration: none;
        color: white;
    }
    footer {
        font-family: Space, sans-serif;
        justify-content: space-between;
        grid-area: footer;
        display: flex;
        flex-direction: row;
        background: linear-gradient(#F2771A, rgb(230, 171, 45));
        border-radius: 2%;
       
        
    }
    .footer__titulo {
        position:relative;
        font-size: 20px;
        align-items: flex-end;
        color: white;
        align-self: center;
    }
    .footer__logolist {
        display: flex;
        flex-direction: row;
       margin-right: 5px;
        gap: 20px;
        list-style-type: none;
    }
    .logos {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
   /*INDEX */
    .containerindex {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: "main" "section1" "section2" "aside";
        }
     .main {
        grid-area: main;
        }
     .novedades {
        grid-area: section1;
        font-size: small;
        transform: translateY(-60px);
    
        }
     .titulo2 {
        font-size: 25px;
     }
     .novedades2 {
        grid-area: section2;
        font-size: small;
        }
        #flyer {
            width: 200px;
            height: 100px;
        }
        #flyer2 {
            width: 300px;
            height: 100px;
        }
        iframe {
            width: 320px;
            height: 180px;
        }
    aside {
        grid-area: aside;
        display: flex;
        justify-content: center;
    }
    table {
        height: 60%;
        align-self: flex-end;
    }
    /*HISTORIA*/
    .historia {
        display: flex;
        flex-direction: column;
    }
    .titulohistoria {
        text-align: center;
        }
        #historiaimg {
        width: 70%;
        height: 70%;
        display: block;
        margin: auto;
        }
        #historiap {
        font-size: 20px;
        font-family: "Varela";
        }
    /*NOSOTROS*/
    .nosotros {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        align-content: center;
        }
        #titulonosotros {
        text-align: center;
        }
        .titulos {
        text-align: center;
        }
    
        .trayectoria {
        list-style: circle;
       align-self: center;
        }
        .pilotosfoto {
        width:65%;
        height: 70%;
        align-content: center;
        display: block;
        margin: auto;
      
        }
        .motos {
        width: 70%;
        height: 65%;
        display: block;
        margin: auto;
       
        }
    /*GALERIA*/
   /* #titulogaleria {
        text-align: center;
        }
        .galeriaimg {
    
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
       
        }
        .fotos {
        width: 85%;
        height: 70%;
        align-self: center;
        border: white solid 3px;
        border-radius:0.5%;
        }
        */
        .fotos {
            width: 100% !important;
            height: 65% !important;
            align-items: center !important;
        }
    /*SPONSORS*/
    #titulosponsor {
        font-size: 15px;
        text-align: center;
        justify-content: center;
    }
    .sponsorgrid {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 25% 25% 25% 25%;
      gap: 1rem;
      grid-template-areas:"palermo palermo" 
      "ama freytes"
      "cra orion"
      "kraftec noa" ;
      justify-content: space-around;
      list-style-type: none;
    }
       #palermo {
        grid-area: palermo;
       }
      #ama {
        grid-area: ama;
       }
       #freytes {
        grid-area: freytes;
       }
       #cra {
        grid-area: cra;
    }
      #kraftec {
        grid-area: kraftec;
    }
      #noa {
        grid-area: noa;
       }
      .logosponsor {
        width: 80%;
        height: 60%;
       }
       .formulario{
          display:flex;
          justify-content: center;
          align-content: center;
          font-size: 15px;
          gap: 1rem;
          border-style: ridge;
      }
      #boton {
          text-align: center;
      }
    @media screen and (min-width: 1200px) {

        .containerindex {
            display: grid;
            grid-template-columns: 25% 50% 25%;
            grid-template-rows: 45% 55%;
            gap: 1rem;
            grid-template-areas:"section1 main aside" "section1 section2 section2";
            color: white;
            
        }
        
         .main {
            grid-area: main;
            text-align: center;
            font-size: 35px;
            height: 50%;
        }
        iframe {
            padding: 50px;
            transform: translateY(-15px);
            width: 560px;
            height: 315px;
            align-self: center;
            
        }
        .novedades {
            margin: 5px;
            font-size: 30px;
            grid-area: section1;
            transform: translateY(10px);
        }
        #flyer {
            width: 100%;
            height: 280px;
        }
        #flyer2 {
            width: 75%;
            height: 500px;
        
        }
        .novedades2 {
            font-size: 24px;
           
            grid-area: section2;
            
        
        }
        .tabla {
            height: 60%;
            width: 90%;
            align-self: center;
        }
        .fechas {
            
            grid-area: aside;
            font-size: 22px;
            
            
        }
        footer {
            font-family: Space, sans-serif;
            justify-content: space-between;
            grid-area: footer;
            display: flex;
            flex-direction: row;
            background: linear-gradient(#F2771A, rgb(230, 171, 45));
            height: 60%;
            width: 97%;
            bottom: 0;
            transform: translateY(100px);
           
            
        }
        .footer__titulo {
            position:relative;
            font-size: 25px;
        }
        .footer__logolist {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items:center;
            gap: 10px;
            list-style-type: none;
        }
        .logos {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
    
        /*GALERIA*/
       /* #titulogaleria {
        text-align: center;
        }
        .galeriaimg {
    
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
       
        }
        .fotos {
        width: 85%;
        height: 70%;
        align-self: center;
        border: white solid 3px;
        border-radius:0.5%;
        }
        */
    
        /*historia*/
        .historia {
        display: flex;
        flex-direction: column;
        }
        .titulohistoria {
        text-align: center;
        }
        #historiaimg {
        width: 70%;
        height: 70%;
        display: block;
        margin: auto;
        }
        #historiap {
        font-size: 20px;
        font-family: "Varela";
        }
    
         /*nosotros*/
        .nosotros {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        align-content: center;
        }
        #titulonosotros {
        text-align: center;
        }
        .titulos {
        text-align: center;
        }
    
        .trayectoria {
        list-style: circle;
       align-self: center;
        }
        .pilotosfoto {
        width:65%;
        height: 70%;
        align-content: center;
        display: block;
        margin: auto;
      
        }
        .motos {
        width: 70%;
        height: 65%;
        display: block;
        margin: auto;
       
        }
        /*SPONSORS*/
        #titulosponsor {
        text-align: center;
        margin-top: 20px;
        }
        .sponsorgrid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 1rem;
        grid-template-areas:"palermo palermo" 
        "ama freytes"
        "cra orion"
        "kraftec noa" ;
        justify-content: space-around;
        list-style-type: none;
        }
        #palermo {
        grid-area: palermo;
        
        }
        #ktmpalermo {
        width: 90%;
        height: 100%;
        transform: translateX(-10px);
        }
        .logosponsor {
        width: 85%;
        height: 65%;
        }
        #ama {
        grid-area:ama;
        
        }
    
    
        #freytes {
        grid-area:freytes;
        }
    
        #cra {
        grid-area:cra;
        }
    
        #orion {
        grid-area:orion;
        
        }
    
        #kraftec {
        grid-area:kraftec;
        }
        #noa {
        grid-area:noa;
        }
    
    
        .formulario{
        display:flex;
        justify-content: center;
        align-content: center;
        font-size: 20px;
        gap: 1rem;
        border-style: ridge;
        }
        #boton {
        text-align: center;
        }


    }