* {
    padding: 0;
    margin: 2px;
}

@font-face {
    font-family:"Space" ;
    src: url("../font/Spaceport1.ttf");
}
@font-face {
    font-family: "Varela" ;
    src: url(../font/VarelaRound-Regular.ttf);
}
body {
    background-color: #20128f;
    color:white;
    font-family: "Varela", sans-serif;
}
.header {
<<<<<<< HEAD
<<<<<<< HEAD
    background-color:#F2771A;
=======
    background: linear-gradient(#F2771A, rgb(230, 171, 45));
>>>>>>> rama1
=======
    background: linear-gradient(#F2771A, rgb(230, 171, 46));
>>>>>>> rama1
    font-family: Space, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1%;
    grid-area: header;
    }
#logo {
    width: 200px;
    height: 150px;
}
.header__nav {
        display: flex;
        align-content: flex-end;
        margin-right: 20px;
        font-size: 10px;
    }
.header__list {
        display:flex;
        flex-direction: row;
        justify-content: end;
        gap: 10px;
        text-decoration: none;
        align-items: flex-end;
        margin-right: 10px;
        font-size: 20px;
        
    }
 header nav ul li{
        list-style-type:none;
    }
header nav ul li a {
        text-decoration: none;
        color: white;
    }
    .footer {
        font-family: Space, sans-serif;
        justify-content: space-between;
        grid-area: footer;
        display: flex;
        flex-direction: row;
<<<<<<< HEAD
        background-color:#F2771A;
=======
        background: linear-gradient(#F2771A, rgb(230, 171, 45));
>>>>>>> rama1
        border-radius: 2%;
       
        
    }
    .footer__titulo {
        position:relative;
        font-size: 20px;
        align-items: flex-end;
        color: white;
        align-self: center;
    }
    .footer__logolist {
        display: flex;
        flex-direction: row;
       margin-right: 5px;
        gap: 20px;
        list-style-type: none;
    }
    .logos {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
.container {
    display: flex;
}
.main {
    grid-area: main;
}
.novedades {
    grid-area: section1;

}
.novedades2 {
    grid-area: section2;
}
@media screen and (min-width: 320px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 20% 20% 20% 10%;
        gap: 1rem;
        grid-template-areas: "header" "main""section1" "section2" "aside" "footer";
        margin-right: 0px;
        
    }

    #flyer {
        width: 200px;
        height: 100px;
    }
    #flyer2 {
        width: 300px;
        height: 100px;
    }
    iframe {
        width: 320px;
        height: 180px;
    }
    .header {
        width: 100%;
    }
    #logo {
       align-content: center;
        justify-items: stretch;
    }
    .header__list {
        display:flex;
        flex-direction: row;
        justify-content: end;
        align-content: flex-end;
        gap: 0px;
        text-decoration: none;
        transform: translateX(-55px);
         font-size: 10px;
        }
       
        .novedades {
            grid-area: section1;
            transform: translateY(-120px);
        }
        .fechas {
            grid-area: aside;
            transform: translateY(160px)
        }
      .footer {
          height: 65%;
         
      }
      

      /*sponsors*/
      #titulosponsor {
          font-size: 15px;
          text-align: center;
          justify-content: center;
      }
      .sponsorgrid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 1rem;
        grid-template-areas:"palermo palermo" 
        "ama freytes"
        "cra orion"
        "kraftec noa" ;
        justify-content: space-around;
        list-style-type: none;
      }
         #palermo {
          grid-area: palermo;
         }
        #ama {
          grid-area: ama;
         }
         #freytes {
          grid-area: freytes;
         }
         #cra {
          grid-area: cra;
      }
        #kraftec {
          grid-area: kraftec;
      }
        #noa {
          grid-area: noa;
         }
        .logosponsor {
          width: 80%;
          height: 60%;
         }
         .formulario{
            display:flex;
            justify-content: center;
            align-content: center;
            font-size: 15px;
            gap: 1rem;
            border-style: ridge;
        }
        #boton {
            text-align: center;
        }
     }
@media screen and (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 15% 37.5% 37.5% 10%;
        gap: 1rem;
        grid-template-areas: "header header header"
        "section1 main aside"
        "section1 section2 section2"
         "footer footer footer";
        
        
         background-color: #20128f;
        color: white;
        
    }
    .header {
        background-color:#F2771A;
        font-family: Space, sans-serif;
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        height: 60%;
        position: relative;
        border-radius: 1%;
       
    
    }
    #logo {
        width: 400px;
        height: 200px;
         margin: 0px;
         position: relative;
         transform: translateY(-16px);
        
       
    }
    .header__nav {
        display: flex;
        align-content: flex-end;
        margin-right: 20px;
        font-size: 27px;
    }
    .header__list {
        display:flex;
        flex-direction: row;
        justify-content: end;
        gap: 10px;
        text-decoration: none;
        align-items: flex-end;
        margin-right: 10px;
        font-size: 25px;
        
    }
    header nav ul li{
        list-style-type:none;
    }
    header nav ul li a {
        text-decoration: none;
        color: white;
       
        
    }
    body {
        color:white;
        
        font-family: 'Varela', sans-serif;
        background-color: #20128f
    
    }
    .main {
        
        grid-area: main;
        align-items: center;
        text-align: center;
        font-size: 35px;
        height: 50%;
    }
    iframe {
        padding: 50px;
        transform: translateY(-15px);
        
    }
    .novedades {
        margin: 5px;
        font-size: 30px;
        justify-items: stretch;
        grid-area: section1;
        transform: translateY(10px);
    }
    #flyer {
        width: 100%;
        height: 280px;
    }
    #flyer2 {
        width: 75%;
        height: 500px;
    
    }
    .novedades2 {
        font-size: 24px;
       transform: translate(-20px, -250px);
        grid-area: section2;
        
    
    }
    .tabla {
        height: 60%;
        width: 90%;
    }
    .fechas {
        
        grid-area: aside;
        font-size: 22px;
        transform: translateY(-25px);
        
    }
    .footer {
        font-family: Space, sans-serif;
        justify-content: space-between;
        grid-area: footer;
        display: flex;
        flex-direction: row;
        background-color:#F2771A;
        height: 60%;
        width: 97%;
        bottom: 0;
        transform: translateY(100px);
       
        
    }
    .footer__titulo {
        position:relative;
        font-size: 25px;
    }
    .footer__logolist {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:center;
        gap: 10px;
        list-style-type: none;
    }
    .logos {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

/*GALERIA*/
    #titulogaleria {
    text-align: center;
}
    .galeriaimg {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    
   
    }
    .fotos {
    width: 85%;
    height: 70%;
    align-self: center;
    border: white solid 3px;
    border-radius:0.5%;
    }

/*historia*/
.historia {
    display: flex;
    flex-direction: column;
}
.titulohistoria {
    text-align: center;
}
#historiaimg {
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
}
#historiap {
    font-size: 20px;
    font-family: "Varela";
}

 /*nosotros*/
.nosotros {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-content: center;
}
#titulonosotros {
    text-align: center;
}
.titulos {
    text-align: center;
}

.trayectoria {
    list-style: circle;
   align-self: center;
}
.pilotosfoto {
    width:65%;
    height: 70%;
    align-content: center;
    display: block;
    margin: auto;
  
}
.motos {
    width: 70%;
    height: 65%;
    display: block;
    margin: auto;
   
}
    /*SPONSORS*/
    #titulosponsor {
    text-align: center;
    margin-top: 20px;
    }
    .sponsorgrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 1rem;
    grid-template-areas:"palermo palermo" 
    "ama freytes"
    "cra orion"
    "kraftec noa" ;
    justify-content: space-around;
    list-style-type: none;
    }
    #palermo {
    grid-area: palermo;
    
    }
    #ktmpalermo {
    width: 90%;
    height: 100%;
    transform: translateX(-10px);
    }
    .logosponsor {
    width: 85%;
    height: 65%;
    }
    #ama {
    grid-area:ama;
    
    }


    #freytes {
    grid-area:freytes;
    }

    #cra {
    grid-area:cra;
    }

    #orion {
    grid-area:orion;
    
    }

    #kraftec {
    grid-area:kraftec;
    }
    #noa {
    grid-area:noa;
    }


    .formulario{
    display:flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    gap: 1rem;
    border-style: ridge;
    }
    #boton {
    text-align: center;
    }
}