@import "../variables/variables";
.historia {
    display: flex;
    flex-direction: column;
    .titulohistoria {
        text-align: center;
        }
}

    #historiaimg {
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
    }
    #historiap {
    font-size: 20px;
    font-family: "Varela";
    margin-left: 5px;
    }