@import "../variables/variables";

#titulosponsor {
    font-size: 15px;
    text-align: center;
    justify-content: center;
}
.sponsorgrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 1rem;
  grid-template-areas:"palermo palermo" 
  "ama freytes"
  "cra orion"
  "kraftec noa" ;
  justify-content: space-around;
  list-style-type: none;
    #palermo {
    grid-area: palermo;
   }
    #ama {
    grid-area: ama;
   }
    #freytes {
    grid-area: freytes;
   }
    #cra {
    grid-area: cra;
    }
    #kraftec {
        grid-area: kraftec;
    }
    #noa {
        grid-area: noa;
       }
       .logosponsor {
        width: 80%;
        height: 60%;
       }
}
   
.formulario{
      display:flex;
      justify-content: center;
      align-content: center;
      font-size: 15px;
      gap: 1rem;
      border-style: ridge;
      #boton {
        text-align: center;
    }
  }
  

  @media screen and (min-width: 1200px) {
    #titulosponsor {
        text-align: center;
        margin-top: 20px;
        }
        .sponsorgrid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 1rem;
        grid-template-areas:"palermo palermo" 
        "ama freytes"
        "cra orion"
        "kraftec noa" ;
        justify-content: space-around;
        list-style-type: none;
        #ktmpalermo {
            width: 90%;
            height: 100%;
            transform: translateX(-10px);
            }
            .logosponsor {
                width: 85%;
                height: 65%;
                }
        }
        
    .formulario{
        display:flex;
        justify-content: center;
        align-content: center;
        font-size: 20px;
        gap: 1rem;
        border-style: ridge;
        }
        #boton {
        text-align: center;
        }


    }
  